.chk-container {
  width: 100%;
  height: calc(100% - 80px);
  padding: 70px 80px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .chk-left {
    width: 900px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid rgb(100, 100, 100);

    div {
      .chk-pay-container {
        width: 40%;
        height: 80px;
        border: 1px solid rgb(100, 100, 100);
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
      }
    }

    .under {
      margin-top: 40px;
      font-size: 30px;
      color: white;
      font-style: oblique;
    }
  }

  .chk-right {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 1px solid rgb(100, 100, 100);
  }
}
