.navbar-container {
  width: 100%;
  height: 80px;
  padding: 10px 80px;
  background-color: #222;
  opacity: 0.99;
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 0 3px 5px 0px rgba(68, 68, 68, 0.306);

  @media screen and (max-width: 880px) {
    padding: 10px 40px;
  }

  nav {
    .logo-section {
      .endys {
        margin-left: 15px;
        .endys-name {
          font-size: 30px;
          color: #e5e5e5;
        }

        .pizza {
          letter-spacing: 11px;
          color: #b2b2b2;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }

    .nav-links {
      .list {
        list-style: none;

        @media screen and (max-width: 1300px) {
          display: none;
        }
        li {
          a {
            position: relative;
            text-decoration: none;
            color: #e5e5e5;
            margin-right: 45px;
            padding: 8px 15px;
            border-radius: 15px;
            &:hover {
              background-color: rgba(84, 84, 84, 0.306);
            }

            i {
              font-size: 20px;
            }

            .cart-counter {
              position: absolute;
              width: 15px;
              height: 15px;
              border-radius: 100%;
              background-color: rgb(148, 148, 148);
              top: 0px;
              right: 3px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #222;
              font-size: 12px;

              &::after {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: rgb(240, 240, 240);
                border-radius: 100%;
                z-index: -1;
              }
            }
          }
        }
      }

      .ham-menu {
        display: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
        width: auto;
        @media screen and (max-width: 1300px) {
          display: flex;
        }
        .wrapper {
          span {
            width: 30px;
            height: 2px;
            background-color: #e5e5e5;
          }

          .middle {
            width: 25px;
            margin: 6px 0;
          }
        }

        &:hover {
          background-color: rgba(84, 84, 84, 0.306);
        }
      }
    }
  }
}
